@media all and (max-width: 1700px) {
    #Feature .block1 .block .text{
        width: 44vw;
        top: -35vw;
    }
    #Feature .block2 .block .text{
        width: 46vw;
    }
    #Feature .block2 .block .text .lg-text{
        width: 42vw;
    }
    #Feature .block3 .block .text{
        top: -37vw;
    }
    #Feature .block5 .block .text{
        top:-34vw;
    }
}

@media all and (max-width: 1500px) {
    #Information .lg-title {
        font-size: 2.5rem;
    }
    #Feature .block2 .block .text .lg-text{
        width: 40vw;
    }
}

@media all and (max-width: 1300px) {
    #Information > .about-mimekom {
        height: 55vw;
    }
    #Information .about-image {
        height: 51vw;
    }
}

@media all and (max-width: 900px) {
    body {
        letter-spacing: 2px;
    }
    #Title .dl-btns {
        position: absolute;
        top: 26vw;
        left: 7vw;
        display: inline;
    }

    #Return-top .lg-text {
        font-size: 1.3rem;
        line-height: 1.8rem;
    }

    #Information {
        height: 126vw;
    }
    #Information > .about-mimekom {
        height: 63vw;
    }
    #Information .about-image {
        height: 54vw;
    }
    #Information .about-mimekom .lg-text {
        font-size: 1.25rem;
    }
    #Information .certificate-img {
        top: 85vw;
    }
    #Information .phone {
        top: 78vw;
    }
    #Information .certificate-text {
        position: absolute;
        top: 8vw;
    }

    #Feature .block1 .block .text {
        top: -35vw;
    }
    #Feature .block2 .block .text {
        top: 7vw;
    }
    #Feature .block3 .block .text {
        top: -35vw;
    }
    #Feature .block4 .block .text {
        top: 7vw;
    }
    #Feature .block5 .block .text {
        top: -35vw;
    }
}

@media all and (max-width: 767px) {
    /* for mobile */
    #Title {
        height: 63vw;
        text-align: center;
    }
    #Title .carousel-indicators {
        display: none;
    }
    #Title .carousel-item {
        /* position: absolute; */
        margin-top: 13vw;
        height: 57vw;
    }
    #Title .container {
        padding-left: 15px;
        text-align: center;
        float: none;
    }
    #Title .title-text .lg-text {
        margin-left: 15vw;
        margin-right: 15vw;
    }
    #Title .dl-btns {
        position: relative;
        left: 0;
        top: -15vw;
    }
    #Title .dl-btns .dl-btn {
        width: 15em;
        padding: 0.5rem 1.25rem;
    }
    #Title .dl-btns .lg-text {
        font-size: 2.2rem;
        padding-right: 0rem;
    }
    #Title .dl-btns img {
        position: relative;
        float: right;
        height: 2rem;
    }
    #Title .bg1 {
        background-image: url("../../img/homepage/mobile01.png");
    }
    #Title .bg2 {
        background-image: url("../../img/homepage/mobile02.png");
    }
    #Title .bg3 {
        background-image: url("../../img/homepage/mobile03.png");
    }
    #Title .bg4 {
        background-image: url("../../img/homepage/mobile04.png");
    }
    #Title .bg5 {
        background-image: url("../../img/homepage/mobile05.png");
    }

    #Return-top {
        display: none;
    }

    #Information {
        padding-top: 3%;
        margin-top: 7vw;
        height: 196vw;
    }
    #Information .content {
        display: none;
    }
    #Information .content-mobile {
        display: block !important;
    }
    #Information > .about-mimekom {
        width: 94%;
        margin-left: 3%;
        margin-right: 3%;
        height: 80vw;
    }
    #Information .about-mimekom .play-video {
        margin: 0px auto;
        margin-top: 4vw;
        width: 30vw;
        align-self: center;
    }
    #Information .about-mimekom .play-btn {
        margin-left: 2vw;
        width: 3vw;
        height: 3vw;
    }
    #Information .about-image {
        display: none;
    }
    #Information .about-text {
        position: relative;
        top: 5vw;
        left: 12vw;
        width: 70vw;
        height: 46vw;
    }
    #Information .line {
        margin-top: 4vw;
        margin-bottom: 4vw;
    }
    #Information .about-text .sm-title {
        line-height: 3rem;
        color: white;
    }
    #Information > .certificate {
        text-align: center;
    }
    #Information .certificate-img {
        position: relative;
        background-size: cover;
        top: 2vw;
        width: 80vw;
        left: 3vw;
        height: 60vw;
    }
    #Information .phone {
        background-image: none;
        position: relative;
        top: 0vw;
        left: 0vw;
    }
    #Information .certificate-text {
        display: none;
    }
    #Information .certificate-text-mobile {
        display: block;
        position: relative;
        top: 5vw;
        left: 7vw;
        color: black;
        z-index: 10;
    }
    #Information .certificate-text-mobile .md-title {
        line-height: 3.7rem;
    }


    #Feature .block {
        display: none;
    }
    #Feature .block-mobile {
        display: block;
    }
    #Feature .light-block {
        height: 145vw;
    }
    #Feature .dark-block {
        height: 145vw;
    }
    #Feature .md-title {
        font-size: 2.0rem;
        margin-top: 3vw;
        font-weight: lighter;
    }
    #Feature .icon {
        margin-top: 5vw;
        margin-bottom: 2vw;
        width: 15vw !important;
        height: 15vw !important;
        display: inline-block;
    }
    #Feature .block-mobile .text {
        position: relative;
        top: 5vw;
        left: 12vw;
        width: 76vw;
        height: 40vw;
        color: white;
    }
    #Feature .block-mobile .phone1 {
        background-image: url("../../img/homepage/1.gif");
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: 33vw;
        margin-left: 10vw;
        width: 40vw;
        height: 65vw;
        display: inline-block;
    }
    #Feature .block-mobile .phone2 {
        background-image: url("../../img/homepage/2.gif");
        background-size: contain;
        background-repeat: no-repeat;
        width: 40vw;
        height: 65vw;
        display: inline-block;
    }
    #Feature .block-mobile .phone {
        
        background-size: contain;
        background-repeat: no-repeat;
        margin-left: 50vw;
        width: 40vw;
        height: 65vw;
        display: inline-block;
    }
    #Feature .block-mobile .phone3 {
        background-image: url("../../img/homepage/3.gif");
        margin-top: 39vw;
    }
    #Feature .block-mobile .phone4 {
        background-image: url("../../img/homepage/4.gif");
        margin-top: 43vw !important;
    }
    #Feature .block-mobile .phone5 {
        background-image: url("../../img/homepage/5.gif");
        margin-top: 45vw !important;
    }
    #Feature .block-mobile .phone6 {
        background-image: url("../../img/homepage/6.gif");
        margin-top: 45vw !important;
    }

    #Contact-us .block-mobile {
        background-image: url("../../img/homepage/contact_us_bg.png");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        width: 100%;
        height: 80vw;
        padding-top: 10vw;
        text-align: center;
        display: block;
    }
    #Contact-us .block {
        display: none;
    }
    #Contact-us .sm-title {
        line-height: 3rem;
        padding: 1vw 8vw;
    }
    #Contact-us .contact-btns {
        text-align: center;
    }
    #Contact-us .btn {
        width: 60vw;
        height: 10vw;
        border-radius: 3.5vw;
        font-weight: lighter;
        color: whitesmoke;
        display: block;
    }
    #Contact-us .btn1 {
        margin-bottom: 5vw;
        background-color: #021142;
        margin-right: 0vw;
    }
    #Contact-us .btn2 {
        background-color: #324583;
    }

    #Video-link .yt-video {
        height: 60vw;
    }
}
@media all and (max-width: 539px) {
    #Title {
        height: 68vw;
    }
    #Title .carousel-item {
        margin-top: 18vw;
    }
    #Information {
        height: 236vw;
    }
    #Information > .about-mimekom {
        height: 98vw;
    }
    #Information .about-text .sm-title {
        font-size: 1.5rem;
        margin-top: 2rem;
    }
    #Information .about-mimekom .play-btn {
        margin-left: 2vw;
        width: 4vw;
        height: 4vw;
    }
    #Information .certificate-text-mobile .md-title {
        line-height: 3.5rem;
    }
    #Feature .light-block {
        height: 160vw;
    }
    #Feature .dark-block {
        height: 160vw;
    }
    #Feature .block-mobile .phone3 {
        margin-top: 39vw;
    }
    #Feature .block-mobile .phone4 {
        margin-top: 47vw !important;
    }
    #Feature .block-mobile .phone5 {
        margin-top: 40vw !important;
    }
    #Feature .block-mobile .phone6 {
        margin-top: 36vw !important;
    }
    #Contact-us .block-mobile {
        height: 100vw;
    }
    #Contact-us .sm-title {
        font-size: 1.8rem;
    }
}
@media all and (max-width: 440px) {
    #Information {
        height: 283vw;
    }
    #Information > .about-mimekom {
        height: 129vw;
    }
    #Information .about-mimekom .play-btn {
        margin-left: 2vw;
        width: 5vw;
        height: 5vw;
    }
    #Information .certificate-text-mobile .md-title {
        line-height: 3.2frem;
    }
    /* #Feature .md-title{

    } */
    #Feature .light-block {
        height: 195vw;
    }
    #Feature .dark-block {
        height: 193vw;
    }
    #Feature .block-mobile .phone1 {
       
        margin-top: 62vw;
    }
    #Feature .block-mobile .phone2 {
        margin-top: 53vw;
        
    }
    #Feature .block-mobile .phone3 {
        margin-top: 69vw;
    }
    #Feature .block-mobile .phone4 {
        margin-top: 67vw !important;
    }
    #Feature .block-mobile .phone5 {
        margin-top: 85vw !important;
    }
    #Feature .block-mobile .phone6 {
        margin-top: 66vw !important;
    }
    
}
/* @media all and (min-width:1501px){
} */
