/* @media all and (max-width:1500px){
}*/

/* @media all and (max-width:1300px) and (orientation: portrait){
} */

/* @media all and (max-width:900px){
} */

@media all and (max-width: 767px) {
    /* for mobile */
    #Content {
        padding: 0;
        text-align: center;
    }
    #Content .sm-title {
        font-size: 2.4rem;
    }
    .android {
        margin-top: 13vw;
    }
    .title {
        margin: 0;
        margin-top: 5vw;
        height: 10vw;
        display: block;
    }
    .title .title-line {
        margin: 0 15vw;
        border: solid #aeaeae 1px;
    }
    .title .line {
        display: none;
    }
    .title .lg-title {
        margin-left: 0;
        margin-bottom: 3vw;
        font-size: 3.5rem;
    }

    .steps {
        display: block;
        text-align: center;
    }
    .block {
        display: block;
        width: 100% !important;
        height: 65vw !important;
        padding-top: 10vw;
        text-align: center;
    }
    .ios .block {
        margin: 0;
    }
    .block-dark {
        background-color: rgba(196, 196, 196, 0.4);
    }
    .block .step-indicator {
        margin: 0 auto;
        height: 10vw;
        width: 25vw;
        color: white;
        margin-bottom: 5vw;
    }
    .block .step-indicator .sm-title {
        line-height: 10vw;
    }
    .block .dl-link {
        width: 100%;
        height: 15vw;
        display: inline-block;
    }
    .block .dl-link.ios-dl {
        margin-top: 2vw;
        width: 40%;
    }
    .next-block {
        display: none;
    }
    .green-icon {
        margin-top: 5vw;
        margin-bottom: 2vw;
        width: 100%;
        height: 10vw;
        display: inline-block;
    }
}
@media all and (max-width: 539px) {
    #Content {
        padding-top: 15vw;
    }
    #Content.android {
        height: 296vw;
        margin-top: 13vw;
    }
    .title {
        margin-bottom: 6vw;
        display: block;
    }
}
/* @media all and (min-width:1501px){
} */
