/* @media all and (max-width:1500px){
}

@media all and (max-width:1300px){
} */

/* @media all and (max-width: 900px) {
} */

@media all and (max-width: 767px) {
  /* for mobile */
  .lg-title {
    font-size: 3.2rem;
  }
  #Title .sm-title {
    font-size: 1.7rem;
  }
  #Main .md-title {
    font-size: 2.5rem;
  }
  #Main .xl-text {
    font-size: 2rem;
  }
  #Main .lg-text {
    font-size: 1.7rem;
    letter-spacing: 1px;
    font-weight: lighter;
    line-height: 3.5rem;
  }
  #Title {
    height: 40vw;
    margin-top: 13vw;
    padding-top: 15vw;
  }
  #Main .img {
    background-size: cover;
    width: 100%;
    height: 50vw;
    margin: 3vw 0;
  }
  #Main .yt-video {
    height: 50vw;
  }
  #Main .return .xl-text {
    margin: 6vw 18vw;
  }
}
@media all and (max-width: 539px) {
  #Title {
    margin-top: 18vw;
  }
}
/* @media all and (min-width:1501px){
} */
